services:
  frontend:
    image: "{{ frontend_image }}"
    container_name: frontend
    restart: unless-stopped
    environment:
      API_URL: "http://backend:{{ backend_port }}"
    networks:
      - app-network

networks:
  app-network:
    external: true
