plugin: aws_ec2

regions:
  - "{{ lookup('env', 'AWS_REGION') }}" 

filters:
  tag:Ansible: "true"
  tag:Tier: "app"

keyed_groups:
  - key: tags.Environment
    prefix: env
  - key: tags.Tier
    prefix: tier

hostnames:
  - private-ip-address

compose:
  ansible_host: private_ip_address
