services:
  backend:
    image: "{{ backend_image }}"
    container_name: backend
    restart: unless-stopped
    environment:
      NODE_ENV: "production"
      DB_HOST: "{{ db_host }}"
      DB_PORT: "{{ db_port }}"
      DB_NAME: "{{ db_name }}"
      DB_USER: "{{ db_username }}"
      DB_PASSWORD: "{{ db_password }}"
    networks:
      - app-network

networks:
  app-network:
    external: true
